In [39]:
import numpy as np
import pandas as pd
import json
print('all libraries have been imported')

all libraries have been imported

In [4]:
!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    python_abi-3.6             |          1_cp36m           4 KB  conda-forge
    openssl-1.1.1g             |       h516909a_1         2.1 MB  conda-forge
    ca-certificates-2020.6.20  |       hecda079_0         145 KB  conda-forge
    certifi-2020.6.20          |   py36h9f0ad1d_0         151 KB  conda-forge
    geopy-2.0.0                |     pyh9f0ad1d_0          63 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.5 MB

The following NEW packages will be INSTALLED:

    geographiclib:   1.50-py_0          conda-forge
    geopy:           2.0.0-pyh9f0ad1d_0 conda-forge
    python_abi:      3.6-1_cp36m        conda-forge

The following packages will be UPDATED:

    certifi:         2020.6.20-py36_0               --> 2020.6.20-py36h9f0ad1d_0 conda-forge
    openssl:         1.1.1g-h7b6447c_0              --> 1.1.1g-h516909a_1        conda-forge

The following packages will be DOWNGRADED:

    ca-certificates: 2020.6.24-0                    --> 2020.6.20-hecda079_0     conda-forge


Downloading and Extracting Packages
geographiclib-1.50   | 34 KB     | ##################################### | 100%
python_abi-3.6       | 4 KB      | ##################################### | 100%
openssl-1.1.1g       | 2.1 MB    | ##################################### | 100%
ca-certificates-2020 | 145 KB    | ##################################### | 100%
certifi-2020.6.20    | 151 KB    | ##################################### | 100%
geopy-2.0.0          | 63 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [37]:
import requests
from pandas.io.json import json_normalize
print("requests and jsonnormalize have been imported")

requests and jsonnormalize have been imported

In [40]:
import matplotlib.cm as cm
import matplotlib.colors as colors
print("matpltlib imported")

matpltlib imported

In [41]:
from sklearn.cluster import KMeans
print('kmeans has been imported')

kmeans has been imported

In [42]:
!conda install -c conda-forge folium=0.5.0 --yes
import folium
print('folium imported')

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    branca-0.4.1               |             py_0          26 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    altair-4.1.0               |             py_1         614 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         713 KB

The following NEW packages will be INSTALLED:

    altair:  4.1.0-py_1 conda-forge
    branca:  0.4.1-py_0 conda-forge
    folium:  0.5.0-py_0 conda-forge
    vincent: 0.4.4-py_1 conda-forge


Downloading and Extracting Packages
branca-0.4.1         | 26 KB     | ##################################### | 100%
vincent-0.4.4        | 28 KB     | ##################################### | 100%
altair-4.1.0         | 614 KB    | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
folium imported

In [43]:
!wget -q -O 'landmarks.geojson' 'http://geodata.vermont.gov/datasets/000401683c064d90904f05600f8cf3b8_24.geojson'
print('data downloaded')

data downloaded

## LOAD AND EXPLORE VERMONT BOUNDARY DATA

In [44]:
with open('landmarks.geojson')as json_data:
    landmarks = json.load(json_data)
#landmarks

## CREATING A NEW VARIABLE LISTING ALL RELEVANT DATA

In [45]:
landmark_data = landmarks['features']

In [46]:
#landmark_data

TRANSFORMING INTO A DATAFRAME

In [47]:
column_names = ['LandMark_Name', 'Town_Name', 'Latitude', 'Longitude']

In [48]:
landmarks = pd.DataFrame(columns = column_names)

In [49]:
landmarks.head()

Empty DataFrame
Columns: [LandMark_Name, Town_Name, Latitude, Longitude]
Index: []

## LOOPING THROUGH DATA AND FILLING ROWS

In [50]:
for data in landmark_data:
    landmark_name = data['properties']['NAME']
    town_name = data['properties']['TOWNNAME']
    landmark_latlon = data['geometry']['coordinates']
    landmark_lat = landmark_latlon[1]
    landmark_lon = landmark_latlon[0]
    
    landmarks = landmarks.append({'Landmark_Name':landmark_name, 'Town_Name':town_name, 'Latitude':landmark_lat, 'Longitude':landmark_lon}, ignore_index=True)

landmarks.head()

TypeError: 'NoneType' object is not subscriptable

In [144]:
print('The dataframe has {} landmarks.'.format(len(landmarks['Landmark_Name'].unique()), landmarks.shape[0]))

The dataframe has 8588 landmarks.

In [51]:
landmarks = landmarks.drop('LandMark_Name', axis=1)
landmarks.head()

      Town_Name   Latitude  Longitude          Landmark_Name
0  RUTLAND CITY  43.593133 -72.985941             Moon Brook
1    NORTHFIELD  44.152570 -72.601220        Loomis Cemetery
2     MIDDLESEX  44.301271 -72.688325                  MM 59
3        DORSET  43.258695 -73.025661        Freedley Quarry
4     SHELBURNE  44.373612 -73.224841  Shelburne Post Office

## For Data consumption sake, I am limiting the scope of this to Landmark Names - Montpelier

In [52]:
mont_lan = landmarks[landmarks['Landmark_Name'].str.contains('Cemetery') == True]
mont_lan.head()

     Town_Name   Latitude  Longitude                    Landmark_Name
1   NORTHFIELD  44.152570 -72.601220                  Loomis Cemetery
11   SHEFFIELD  44.650241 -72.081923  Union House-King James Cemetery
13    FRANKLIN  44.998386 -72.866802                  Prouty Cemetery
15     ADDISON  44.033399 -73.340401                  Hindes Cemetery
23      RIPTON  43.956460 -72.981226                   Kirby Cemetery

In [53]:
print('The dataframe has {} landmarks.'.format(len(mont_lan['Landmark_Name'].unique()), mont_lan.shape[0]))

The dataframe has 1079 landmarks.

In [54]:
mont_lan.reset_index()

,index,Town_Name,Latitude,Longitude,Landmark_Name
0,1,NORTHFIELD,44.152570,-72.601220,Loomis Cemetery
1,11,SHEFFIELD,44.650241,-72.081923,Union House-King James Cemetery
2,13,FRANKLIN,44.998386,-72.866802,Prouty Cemetery
3,15,ADDISON,44.033399,-73.340401,Hindes Cemetery
4,23,RIPTON,43.956460,-72.981226,Kirby Cemetery
5,36,POWNAL,42.754533,-73.228165,Joseph Barber Farm Cemetery
6,38,RUTLAND CITY,43.619131,-72.974860,North Main Cemetery
7,40,FAIRFIELD,44.814501,-72.904582,Morey Cemetery
8,47,GEORGIA,44.728667,-73.125416,Goodrich Cemetery
9,51,CAMBRIDGE,44.684503,-72.852910,North Cambridge Cemetery
10,52,ADDISON,44.031743,-73.306697,Southard Cemetery
11,60,DANBY,43.347860,-73.024828,Red School House Cemetery
12,64,CHELSEA,43.992297,-72.448712,Old Chelsea Cemetery
13,76,MORRISTOWN,44.580339,-72.600117,Plains-Green Lawn Cemetery
14,82,ESSEX JUNCTION VILLAGE,44.502003,-73.111240,Fairview Cemetery
15,88,RUPERT,43.306750,-73.227054,Graves Family Cemetery
16,89,HINESBURG,44.286175,-73.069846,McDonough Cemetery
17,93,DANBY,43.356193,-73.055106,Maple Grove Cemetery
18,116,GRAFTON,43.139531,-72.667872,Stiles Cemetery
19,122,STOWE,44.476062,-72.717175,West Branch Cemetery
20,127,SHARON,43.738639,-72.440376,Babcock Cemetery
21,133,MANCHESTER,43.175363,-73.016494,Oreb Taylor Family Cemetery
22,137,FAIRLEE,43.962854,-72.162036,Brushwood Cemetery
23,138,BRATTLEBORO,42.834257,-72.553980,Cotton Mill Hill Cemetery
24,140,GEORGIA,44.686167,-73.125970,Crown Cemetery
25,142,PANTON,44.150619,-73.363460,Adams Cemetery
26,145,HALIFAX,42.819834,-72.685658,Thomas Hill-Bell-Phelps Cemetery
27,154,ADDISON,44.084509,-73.302346,Grandview Cemetery
28,163,DERBY,44.886168,-72.127601,Crandall Cemetery
29,164,KILLINGTON,43.652855,-72.767603,Anthony Family Cemetery
...,...,...,...,...,...
1298,9718,HIGHGATE,44.930053,-72.998189,Hyde Cemetery
1299,9731,CANAAN,45.010452,-71.614055,Wallace Pond Cemetery
1300,9739,HYDE PARK,44.634227,-72.577060,Blake Cemetery
1301,9745,BRAINTREE,43.944805,-72.683901,Spear Cemetery
1302,9748,SAINT JOHNSBURY,44.450622,-71.938428,Grove Cemetery
1303,9749,TUNBRIDGE,43.868965,-72.537323,Ward Hill Cemetery
1304,9752,CANAAN,44.937556,-71.525086,Wilson Cemetery
1305,9760,SPRINGFIELD,43.314868,-72.500329,Saint Marys Cemetery
1306,9762,WOODSTOCK,43.619909,-72.535853,Riverside Cemetery
1307,9773,CABOT,44.401732,-72.320937,Cabot Village Cemetery
1308,9776,NEWBURY,44.059796,-72.124259,West Newbury Cemetery
1309,9778,SHOREHAM,43.885346,-73.330953,Saint Genevieve Cemetery
1310,9793,GRAND ISLE,44.715886,-73.326522,Quaker and Macomber Cemetery
1311,9801,WINHALL,43.144863,-72.878072,Bondville Cemetery
1312,9803,LONDONDERRY,43.221751,-72.764264,Lowell Lake Cemetery
1313,9816,WALDEN,44.467008,-72.306494,Houston Hill Cemetery
1314,9818,CHARLOTTE,44.301172,-73.254571,Barber Cemetery
1315,9830,BENSON,43.708834,-73.308381,Old Cemetery
1316,9832,CASTLETON,43.660352,-73.190390,Crystal Beach-Town Farm Cemetery
1317,9844,BRIDPORT,43.985623,-73.315399,Central Cemetery
1318,9847,CONCORD,44.400068,-71.860926,Frye Cemetery
1319,9849,GREENSBORO,44.579231,-72.290372,Village Cemetery
1320,9852,SHELBURNE,44.410893,-73.198183,Spear Street Cemetery
1321,9857,FRANKLIN,44.989219,-72.917911,Maple Grove Cemetery
1322,9862,GEORGIA,44.724500,-73.129027,Sabin Cemetery
1323,9874,ROCKINGHAM,43.210363,-72.534258,Williams River-Wright Cemetery
1324,9880,LUNENBURG,44.438569,-71.725261,Baptist Hill Cemetery
1325,9882,HOLLAND,44.943667,-72.008987,Mead Hill Cemetery
1326,9891,SHOREHAM,43.937846,-73.284009,Russell Cemetery
1327,9902,HIGHGATE,44.938108,-73.038188,Saint Louis Cemetery

In [107]:
mont_top = mont_lan[mont_lan['Town_Name'].str.contains("MONTPELIER")]
mont_top

            Town_Name   Latitude  Longitude                     Landmark_Name
400   EAST MONTPELIER  44.284235 -72.452884                     Cate Cemetery
625   EAST MONTPELIER  44.276735 -72.500385                    Quake Cemetery
1894       MONTPELIER  44.264235 -72.563999          Saint Augustine Cemetery
2076  EAST MONTPELIER  44.320900 -72.504831                     Peck Cemetery
3354  EAST MONTPELIER  44.272568 -72.555665                   Cutler Cemetery
3547  EAST MONTPELIER  44.323678 -72.526221                     Pike Cemetery
3848  EAST MONTPELIER  44.268456 -72.486947  East Montpelier Village Cemetery
4472  EAST MONTPELIER  44.274513 -72.451217                Plainmont Cemetery
4628  EAST MONTPELIER  44.268124 -72.504830                  Bennett Cemetery
7042       MONTPELIER  44.257846 -72.596500              Green Mount Cemetery
8410       MONTPELIER  44.264220 -72.571222               Elm Street Cemetery
9629  EAST MONTPELIER  44.283957 -72.453162                     Cate Cemetery

In [108]:
mont_top.reset_index()

,index,Town_Name,Latitude,Longitude,Landmark_Name
0,400,EAST MONTPELIER,44.284235,-72.452884,Cate Cemetery
1,625,EAST MONTPELIER,44.276735,-72.500385,Quake Cemetery
2,1894,MONTPELIER,44.264235,-72.563999,Saint Augustine Cemetery
3,2076,EAST MONTPELIER,44.320900,-72.504831,Peck Cemetery
4,3354,EAST MONTPELIER,44.272568,-72.555665,Cutler Cemetery
5,3547,EAST MONTPELIER,44.323678,-72.526221,Pike Cemetery
6,3848,EAST MONTPELIER,44.268456,-72.486947,East Montpelier Village Cemetery
7,4472,EAST MONTPELIER,44.274513,-72.451217,Plainmont Cemetery
8,4628,EAST MONTPELIER,44.268124,-72.504830,Bennett Cemetery
9,7042,MONTPELIER,44.257846,-72.596500,Green Mount Cemetery
10,8410,MONTPELIER,44.264220,-72.571222,Elm Street Cemetery
11,9629,EAST MONTPELIER,44.283957,-72.453162,Cate Cemetery

# Obtain geocoords of Vermont

In [109]:
address = 'Montpelier, VT'
geolocator = Nominatim(user_agent = "vt_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geographical coordinates of VT are {}, {}.'.format(latitude, longitude))

The geographical coordinates of VT are 44.260445, -72.575684.

## Create Vermont State Map

In [134]:
map_vermont = folium.Map(location=[latitude, longitude], zoom_start=10)
map_vermont

In [135]:
for landmark_lat, landmark_lon, town_name, landmark_name in zip(mont_top['Latitude'], mont_top['Longitude'], mont_top['Town_Name'], mont_top['Landmark_Name']):
    label = '{},{}.format(landmark_name, town_name), label = folium.Popup(label, parse_html=True)'
    folium.CircleMarker(
    [landmark_lat, landmark_lon],
    radius=5,
    popup=label,
    color='blue',
    fill=True,
    fill_color='#3186cc',
    fill_opacity=0.7,
    parse_html=False).add_to(map_vermont)

map_vermont

## Adding Foursquare Cemetery Data

In [112]:
CLIENT_ID = 'TYOE2PA2DTXDMAGWSP2ZJ4SW4I03FVVRIWTKFKHMZTMOLGCK'
CLIENT_SECRET = 'TY0BIHFFL2CAGKPSJI142XJYNJVGZCGZA1Q53L2BRAJZFOYE'
VERSION = '20200821'
LIMIT = 100

print('your credentials:')
print('CLIENT_ID:' + CLIENT_ID)
print('CLIENTSECRET:' + CLIENT_SECRET)

your credentials:
CLIENT_ID:TYOE2PA2DTXDMAGWSP2ZJ4SW4I03FVVRIWTKFKHMZTMOLGCK
CLIENTSECRET:TY0BIHFFL2CAGKPSJI142XJYNJVGZCGZA1Q53L2BRAJZFOYE

In [113]:
address = 'Montpelier, VT'

geolocator = Nominatim(user_agent = "foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

44.260445 -72.575684

In [114]:
https://api.foursquare.com/v2/venues/search?&client_id=CLIENT_ID&client_secret=CLIENT_SECRET&ll=LATITUDE, LONGITUDE&v=VERSION&query=QUERY&radius=RADIUS&Limit=LIMIT

SyntaxError: invalid syntax (<ipython-input-114-5f29cffc51f3>, line 1)

In [115]:
search_query = 'cemetery'
radius = 500
print(search_query + '... ok!')

cemetery... ok!

In [116]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=TYOE2PA2DTXDMAGWSP2ZJ4SW4I03FVVRIWTKFKHMZTMOLGCK&client_secret=TY0BIHFFL2CAGKPSJI142XJYNJVGZCGZA1Q53L2BRAJZFOYE&ll=44.260445,-72.575684&v=20200821&query=cemetery&radius=500&limit=100'

In [138]:
results=requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5f3fce6cc7db23607229aa6b'},
 'response': {'venues': [{'id': '4f3dd723e4b0d0c630fa741d',
    'name': 'Elm Street Cemetery',
    'location': {'address': '666 Elm St',
     'lat': 44.26412148570193,
     'lng': -72.5715832918743,
     'labeledLatLngs': [{'label': 'display',
       'lat': 44.26412148570193,
       'lng': -72.5715832918743}],
     'distance': 523,
     'postalCode': '05602',
     'cc': 'US',
     'city': 'Montpelier',
     'state': 'VT',
     'country': 'United States',
     'formattedAddress': ['666 Elm St',
      'Montpelier, VT 05602',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d15c941735',
      'name': 'Cemetery',
      'pluralName': 'Cemeteries',
      'shortName': 'Cemetery',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/cemetery_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1598017301',
    'hasPerk': False}]}}

## structure the foursquare results into pandas df

In [139]:
venues = results["response"]["venues"]
dataframe=json_normalize(venues)
dataframe.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d15c941735', 'name': 'C...",False,4f3dd723e4b0d0c630fa741d,666 Elm St,US,Montpelier,United States,523,"[666 Elm St, Montpelier, VT 05602, United States]","[{'label': 'display', 'lat': 44.26412148570193...",44.264121,-72.571583,05602,VT,Elm Street Cemetery,v-1598017301

## filtering the columns to show mostly just location data

In [140]:
filtered_columns = ['name']+[col for col in dataframe.columns if col.startswith('location')]+['id']
dataframe_filtered=dataframe.loc[:, filtered_columns]
dataframe_filtered

,name,location.address,location.cc,location.city,location.country,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,id
0,Elm Street Cemetery,666 Elm St,US,Montpelier,United States,523,"[666 Elm St, Montpelier, VT 05602, United States]","[{'label': 'display', 'lat': 44.26412148570193...",44.264121,-72.571583,05602,VT,4f3dd723e4b0d0c630fa741d

## clean columns

In [141]:
dataframe.columns=[col.split(".")[-1]for col in dataframe.columns]
dataframe

,categories,hasPerk,id,address,cc,city,country,distance,formattedAddress,labeledLatLngs,lat,lng,postalCode,state,name,referralId
0,"[{'id': '4bf58dd8d48988d15c941735', 'name': 'C...",False,4f3dd723e4b0d0c630fa741d,666 Elm St,US,Montpelier,United States,523,"[666 Elm St, Montpelier, VT 05602, United States]","[{'label': 'display', 'lat': 44.26412148570193...",44.264121,-72.571583,05602,VT,Elm Street Cemetery,v-1598017301

In [146]:
dataframe

,categories,hasPerk,id,address,cc,city,country,distance,formattedAddress,labeledLatLngs,lat,lng,postalCode,state,name,referralId
0,"[{'id': '4bf58dd8d48988d15c941735', 'name': 'C...",False,4f3dd723e4b0d0c630fa741d,666 Elm St,US,Montpelier,United States,523,"[666 Elm St, Montpelier, VT 05602, United States]","[{'label': 'display', 'lat': 44.26412148570193...",44.264121,-72.571583,05602,VT,Elm Street Cemetery,v-1598017301

## Simplify the dataframe to essential data

In [159]:
foursq_cemetery = dataframe[['name','lat','lng']]
foursq_cemetery

                  name        lat        lng
0  Elm Street Cemetery  44.264121 -72.571583

## Plotting the Foursquare results on a folium map

In [162]:
map_osm = folium.Map(location=[44.260445, -72.575684])
foursq_cemetery.apply(lambda row:folium.CircleMarker(location=[row["lat"], 
                                                  row["lng"]]).add_to(map_osm),
     axis=1)
map_osm

# Conclusion

### In comparing the plotted Foursquare results for cemeteries in the Montpelier area against the plotted results for cemeteries from the Vermont.gov website landmark data, we see that Foursquare only shows one cemetery -- even though according to Vermont.gov there are 20 cemeteries in the Montpelier area. As a Vermont Department of Tourism analyst, I would suggest expanding the comparison of these two data sources to cover the entire state of Vermont, and then send all missing data to Foursquare for incorporation in their dataset.